
# Virtual environment
.venv/
venv/
env/

# Sensitive information/local settings
local_settings.py
.env


# Byte-code files
*.pyc
*.pyd
*.pyo
__pycache__/


# Distribution / build files
.Python
build/
dist/
*.egg-info/
.eggs/